    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="black-text">
          <%= render 'form' %>
        </div>
      </div>
    </div>



<%= link_to 'Back', landscapes_path %>
