<!DOCTYPE HTML>
<html>




<head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="cities.css"  media="screen,projection"/>
     <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    
  
  <!-- <link rel="icon" 
        type="image/png" 
        href="img/five.png">  This is where our favicon will go-->
  <title> PicSite </title>




</head>

<style>
  
.right hide-on-med-and-down{
  padding-top: 30px;
}



</style>


<body>


  <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    <script type = "text/javascript"> 
      // Initialize collapse button
    $(".button-collapse").sideNav();
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();</script>

     <nav>
    <div class="nav-wrapper lime">
      <a href="#!" class="brand-logo white-text">PicSite</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a> 
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path, :class => 'white-text' %></li>
    
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button white-text" href="#!" data-activates="dropdown1">Category</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
         <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "How it works", work_index_path %></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Category</a></li>
      </ul>
    </div>
  </nav>


  <div class="parallax-container">
      <div class="parallax"><img src="http://s8.postimg.org/lrzaaj585/city3.jpg"></div>
  </div>
  <div class="section lime lighten-2">
    <div class="row container">
      <h2 class="header white-text">HOW IT WORKS</h2>
      <p class="white-text">Browse our website for the pictures you are looking for</p>
      
      <p class="white-text">Click on the Download button</p>
      
      <p class="white-text">Enter your email address</p>
      
      <p class="white-text">Download the picture onto your computer</p>
      
    </div>
  </div>
  <div class="parallax-container">
      <div class="parallax"><img src="http://s17.postimg.org/bp8drwy2n/mountains.jpg"></div>
  </div>

  <footer class="page-footer lime">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Help PicSite Grow</h5>
                <p class="grey-text text-lighten-4">Donate to help PicSite grow</p>
              </div>
              <div class="col l4 offset-l2 s12">
                     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="dhrutishah10@gmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
              </div>
            </div>
          </div>
          <div class="footer-copyright lime">
            <div class="container">
            
            
            </div>
          </div>


</footer>


      


