// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rower{
	margin-top: 100px;
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 50px;
}
